<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
  <body>
    <h1> Welcome to Dan's what's my name fun</h1>
    <!-- linking an image -->
    <img src="{{ url_for('static', filename='img/imageHolder.png') }}">

    <!-- Form to be reused -->
    <form action = "/process" method = "post">
      Name:<input type = 'text' name = 'name'>
      <input type = 'submit' value = 'Submit'>
    </form>

  </body>
</html>
